
header, footer
{
	text-align: center;
	color: #030201;
	font-weight: bold;
}

body
{
	font-family:'Times New Roman', Times, serif;
	color: rgb(0, 0, 0);
	background-color: #e4b126;
	margin-left: 75px;
	margin-right: 75px;
}