
header, footer
{
	text-align: center;
	color: #F4AC45;
	font-weight: bold;
}

body
{
	font-family:'Times New Roman', Times, serif;
	color: rgb(182, 27, 27);
	background-color: #55b605;
	margin-left: 75px;
	margin-right: 75px;
}