

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="styles/Act2.css" rel="stylesheet" type="text/css" >
	<title>Asa Dixon, ITIS3135, Firstpage</title>
</head>

<body>
	<header>
			<h1 > Crappy Comparision</h1>
	</header>
	<nav>
		<a href="https://webpages.uncc.edu/adixon46/itis3135/">Introduction</a> 
        ||
		<a href="https://www.linkedin.com/in/asa-dixon-ba18531b6/">Contact</a>
	</nav>	
	
	<main>
		<h2>Introduction</h2>
		
		
           
                   
	
	</main>
	
	<footer>

       
		
	
		<p>Page built by DIG Innovations </p>
	
		<a href="https://validator.w3.org/check?uri=referer">
			<img src="images/button-valid-html5.gif" width="88" height="31" alt="Link to HTML validator"></a>

		<a href="https://jigsaw.w3.org/css-validator/check/referer">
			<img src="images/button-valid-css.gif" width="88" height="31" alt="Link to CSS validator"></a>
	
	</footer>

</body>

</html>